@use '../@shared/mixins' as *;
@use '../../styles/global' as *;

@layer kol-component {
	.kol-progress {
		font-size: rem(16);

		&__bar {
			display: grid;
			grid-template-columns: 1fr auto;
			grid-template-areas:
				'LABEL LABEL LABEL'
				'BAR VALUE UNIT';
			align-items: center;
			column-gap: 0.05rem;

			&-label {
				grid-column-end: 2;
				grid-area: LABEL;
			}

			svg {
				grid-area: BAR;
			}

			&-value {
				grid-area: VALUE;
				text-align: right;
			}

			&-unit {
				grid-area: UNIT;
			}

			&-border {
				fill: transparent;
				stroke: black;
			}

			&-background {
				fill: lightgray;
				stroke: white;
			}

			&-progress {
				fill: #0075ff;
				stroke: transparent;

				@media (prefers-reduced-motion: no-preference) {
					transition: 250ms ease-in-out 50ms;
				}
			}
		}

		&__cycle {
			display: grid;
			grid-template-columns: auto;
			grid-template-areas: 'ALL';
			justify-items: center;
			align-content: center;

			> * {
				grid-area: ALL;
			}

			&-text {
				text-align: center;
				display: flex;
				justify-content: center;
				flex-direction: column;

				font-size: x-small;

				* {
					background-color: white;
				}
			}

			&-background {
				fill: transparent;
				stroke: lightgray;
			}

			&-border {
				fill: transparent;
				stroke: black;
			}

			&-whitespace {
				fill: transparent;
				stroke: white;
			}

			&-progress {
				fill: transparent;
				stroke: #0075ff;
				transform-origin: 50% 50%;
				transform: rotate(-90deg);

				@media (prefers-reduced-motion: no-preference) {
					transition: 250ms ease-in-out 50ms;
				}
			}
		}
	}
}
