@use '../@shared/mixins' as *;
@use '../../styles/global' as *;
@use '../host-display-block' as *;
@use '../../styles/kol-alert-mixin' as *;
@use '../../styles/kol-field-control-mixin' as *;
@use '../../styles/kol-form-field-mixin' as *;
@use '../../styles/kol-input-container-mixin' as *;

@include kol-alert;
@include kol-field-control;
@include kol-form-field;
@include kol-input-container;

@layer kol-component {
	.kol-form-field {
		--border-width: 2px;
		--input-size: 1.5em;

		&__label {
			display: contents;
		}

		&__input {
			display: flex;
			flex-direction: column;

			&--orientation-horizontal {
				flex-direction: row;
				flex-wrap: wrap;
				align-items: flex-start;
			}
		}

		&--disabled {
			opacity: unset;
		}
	}

	.kol-input-radio {
		appearance: none;
		border-width: var(--border-width);
		border-style: solid;
		border-radius: 100%;
		cursor: pointer;
		display: flex;
		height: var(--input-size);
		margin: 0;
		min-height: var(--input-size);
		min-width: var(--input-size);
		padding: 0;
		width: var(--input-size);

		&:before {
			border-radius: 100%;
			content: '';
			margin: auto;
			height: calc(var(--input-size) / 2);
			width: calc(var(--input-size) / 2);
		}

		&:checked {
			&:before {
				background-color: #000;

				@media (forced-colors: active) {
					/* Give it a visible background in forced colors mode */
					background-color: selectedItem !important;
				}
			}
		}

		&:disabled {
			opacity: 0.5;
			cursor: not-allowed;
		}
	}
}
