@use '../../styles/global' as *;
@use '../../styles/kol-alert-mixin' as *;
@use '../../styles/kol-form-field-mixin' as *;
@use '../../styles/kol-input-container-mixin' as *;
@use '../../styles/kol-input-mixin' as *;
@use '../@shared/mixins' as *;

@include kol-alert;
@include kol-form-field;
@include kol-input-container;
@include kol-input;

@layer kol-component {
	.kol-input-range {
		&__inputs-wrapper {
			align-items: center;
			display: flex;
			flex-direction: row;
			flex-grow: 1;
		}

		&__input {
			&--number {
				width: var(--kolibri-input-range--input-number--width);
			}

			&--range {
				appearance: none;
				background-color: #d3d3d3;
				border: 1px solid #000;
				display: inline-block;
				flex-grow: 1;
				height: rem(8);
				line-height: 1.5;
				padding: 0;
				margin: 0;
				/* Design-Hack - related with flex-grow */
				width: 0;

				&::-webkit-slider-thumb {
					box-sizing: border-box;
					background-color: #000;
					height: rem(20);
					width: rem(20);
					border-radius: 20px;
					cursor: pointer;
					-webkit-appearance: none;

					@media (prefers-contrast: more) or (forced-colors: active) {
						outline: 1px solid currentColor;
					}
				}

				&::-moz-range-thumb {
					box-sizing: border-box;
					background-color: #000;
					height: rem(20);
					width: rem(20);
					border-radius: 20px;
					cursor: pointer;
					-moz-appearance: none;
				}
			}
		}
	}
}
