@use '../../mixins/rem' as *;

@mixin kol-button($block-classname) {
	.#{$block-classname} {
		$root: &;

		font-family: var(--font-family);

		appearance: none;
		outline: none;
		text-decoration: none;

		&:focus {
			outline-offset: -4px;
			outline: var(--text-focus-outline-color) solid rem(2);
		}

		--text-focus-outline-color: var(--color-black);

		&--primary {
			--text-background-color: var(--color-blue);
			--text-border-color: var(--color-blue);
			--text-color: var(--color-white);

			&:focus {
				--text-focus-outline-color: var(--color-white);
			}

			&:hover {
				--text-background-color: var(--color-blue-130);
				--text-border-color: var(--color-blue-130);
			}
		}

		&--secondary {
			--text-background-color: var(--color-white);
			--text-border-color: var(--color-blue);
			--text-color: var(--color-blue);

			&:focus {
				--text-focus-outline-color: var(--color-blue);
			}

			&:hover {
				--text-border-color: var(--color-blue-130);
				--text-color: var(--color-blue-130);
			}
		}

		&--normal {
			--text-background-color: var(--color-yellow);
			--text-border-color: var(--color-yellow);
			--text-color: var(--color-black);

			&:hover {
				--text-background-color: var(--color-yellow-120);
				--text-border-color: var(--color-yellow-120);
			}
		}

		&--danger {
			--text-background-color: var(--color-red);
			--text-border-color: var(--color-red);
			--text-color: var(--color-white);

			&:focus {
				--text-focus-outline-color: var(--color-white);
			}

			&:hover {
				--text-background-color: var(--color-red);
				--text-border-color: var(--color-red);
			}
		}

		&--ghost {
			--text-background-color: transparent;
			--text-border-color: transparent;
			--text-color: var(--color-blue);

			&:focus {
				--text-focus-outline-color: var(--color-blue);
			}

			&:hover {
				--text-background-color: unset;
				--text-border-color: transparent;
				--text-color: var(--color-blue-130);
			}
		}

		&__text {
			background-color: var(--text-background-color);
			border-color: var(--text-border-color);
			color: var(--text-color);

			border-radius: 0;
			border-style: solid;
			border-width: 2px;
			font-weight: var(--font-weight-bold);
			margin: 0;
			min-height: rem(44);
			min-width: rem(44);
			padding: 0.25em 0.75em;
			line-height: 1.2;

			@at-root #{$root}--hide-label & {
				.kol-span__label {
					display: none;
				}
			}

			@at-root #{$root}--secondary:focus & {
				outline-offset: -6px;
			}

			@at-root #{$root}--ghost:focus & {
				outline-offset: -2px;
			}
		}
	}
}
