@use '../../mixins/rem' as *;

@mixin indented-text {
	font-family: var(--font-family);
	border-end-start-radius: 0;
	border-inline-start: rem(10) solid var(--color-yellow);
	border-start-start-radius: 0;
	padding-bottom: rem(16);
	padding-inline-start: rem(24);
	padding-top: rem(16);
	margin: 0;
}
