@use '../../mixins/rem' as *;

@mixin kol-input-text-theme {
	.kol-input,
	.kol-select,
	.kol-textarea {
		border: none;
		margin: rem(1);
		outline: none;
	}

	.kol-input,
	.kol-select:not([multiple]) {
		height: rem(44);
		min-height: rem(44);
	}

	.kol-input,
	.kol-select,
	.kol-textarea {
		&:focus {
			border-top: 1px solid var(--color-blue);
			border-bottom: 1px solid var(--color-blue);
		}
	}

	.kol-input,
	.kol-textarea {
		&::placeholder {
			color: var(--color-grey-50);
		}
	}
}
