@use '../../mixins/rem' as *;

@mixin kol-typography-body {
	font-size: rem(16);
	line-height: 1.5;
}

@mixin kol-typography-h1 {
	font-size: rem(32);
	line-height: 1.25;
}

@mixin kol-typography-h2 {
	font-size: rem(28);
	line-height: 1.143;
}

@mixin kol-typography-h3 {
	font-size: rem(24);
	line-height: 1.1667;
}

@mixin kol-typography-h4 {
	font-size: rem(20);
	line-height: 1.4;
}

@mixin kol-typography-h5 {
	font-size: rem(16);
	line-height: 1.5;
}

@mixin kol-typography-hint {
	font-size: rem(14.4);
	font-style: italic;
}
