@use '../@shared/mixins' as *;
@use '../../styles/global' as *;
@use '../host-display-block' as *;
@use '../tooltip/style.scss' as *;

@layer kol-component {
	.kol-tabs {
		font-size: rem(16);
		display: var(--display);
		grid-template-rows: var(--grid-template-rows);
		grid-template-columns: var(--grid-template-columns);

		&--align-right {
			--display: grid;
			--grid-template-columns: 1fr auto;

			--button-group-flex-direction: column;
			--button-group-order: 2;
		}

		&--align-left {
			--display: grid;
			--grid-template-columns: auto 1fr;

			--button-group-flex-direction: column;
			--button-group-order: 0;
		}

		&--align-bottom {
			--display: grid;
			--grid-template-rows: 1fr auto;

			--button-group-order: 2;
		}

		&__tabs-align-top {
			--display: grid;
			--grid-template-rows: auto 1fr;

			--button-group-order: 0;
		}

		&__content {
			overflow: auto;
		}

		&__button-group {
			display: flex;
			flex-wrap: wrap;

			flex-direction: var(--button-group-flex-direction);
			order: var(--button-group-order);

			.kol-button {
				border-bottom-color: transparent;
				border-bottom-style: solid;
				display: block;
			}
		}

		&__panel {
			height: 100%;
		}
	}
}
