@use 'mixins' as *;
@use '../tooltip/style' as *;

@mixin kol-button-styles($block-classname) {
	@layer kol-component {
		:host {
			//Needed for custom width
			display: inline-block;
		}

		.#{$block-classname} {
			font-style: rem(16);
			display: inline-flex;
			place-items: center;
			text-align: center;
			text-decoration-line: none;

			&::before {
				/* Render zero-width character as first element to set the baseline correctly. */
				content: '\200B';
			}

			&__text {
				// Needed for custom width
				margin: auto;
				width: 100%;
			}
		}
	}
}
