@use 'mixins' as *;
@use '../tooltip/style' as *;

@mixin kol-link-styles($block-classname) {
	@layer kol-component {
		:host {
			// Causing linebreak, when removed
			display: inline-block;
		}

		.#{$block-classname} {
			$root: &;

			font-size: rem(16);
			align-items: baseline;
			display: inline-flex;
			place-items: center;
			text-align: left;
			text-decoration-line: none;

			&__text {
				.kol-span__label {
					text-decoration-line: underline;

					@at-root #{$root}:is(:focus, :hover):not([aria-disabled], [disabled]) & {
						text-decoration-thickness: 0.2em;
					}
				}
			}

			&__icon {
				display: inline-flex;
				margin-left: rem(8);
			}
		}
	}
}
