@mixin kol-custom-suggestions-option {
	@layer kol-component {
		.kol-custom-suggestions-option {
			cursor: pointer;
			white-space: normal;
			overflow-wrap: break-word;
			word-wrap: break-word;
			line-height: 1.5;
			box-sizing: border-box;

			.kol-custom-suggestions-options-group--cursor-hidden & {
				cursor: none !important;
			}
		}
	}
}
