@use '../components/@shared/mixins' as *;
@use '../components/host-display-block' as *;
@use '../components/tooltip/style' as *;

@mixin kol-alert {
	@layer kol-component {
		.kol-alert {
			display: grid;

			&__container {
				place-items: center;
				display: flex;
			}

			&__container-content {
				flex-grow: 1;
			}

			&__close-button {
				/* Visible with forced colors */
				outline: transparent solid rem(1);
			}
		}
	}
}
