@mixin kol-input-container {
	@layer kol-component {
		.kol-input-container {
			$root: &;

			align-items: center;
			background-color: white;
			cursor: pointer;
			display: grid;
			grid-template-columns: 1fr;
			min-height: var(--a11y-min-size);
			min-width: var(--a11y-min-size);
			width: 100%;

			&:has(> #{$root}__adornment--start) {
				grid-template-columns: auto 1fr;
			}

			&:has(> #{$root}__adornment--end) {
				grid-template-columns: 1fr auto;
			}

			&:has(> #{$root}__adornment--start):has(> #{$root}__adornment--end) {
				grid-template-columns: auto 1fr auto;
			}

			&__container {
				position: relative;
			}

			&__adornment {
				display: flex;
				align-items: center;

				.kol-icon {
					display: grid;
					height: var(--a11y-min-size);
					place-items: center;
				}
			}
		}
	}
}
