@use '../../styles/global' as *;
@use '../../styles/kol-alert-mixin' as *;
@use '../@shared/mixins' as *;

@include kol-alert;

@layer kol-component {
	:host {
		display: flex;
		flex-direction: column;
		font-size: rem(16);
		position: fixed;
		z-index: 200;
	}

	.kol-toast-container {
		&__close-all {
			align-self: flex-end;
		}
	}
}
