@use '../@shared/mixins' as *;
@use '../../styles/global' as *;
@use '../host-display-block' as *;
@use '../../functional-components/Collapsible/collapsible' as *;

@layer kol-component {
	.kol-accordion {
		font-size: rem(16);
	}
}
