@use '../../styles/global' as *;
@use '../../styles/kol-alert-mixin' as *;
@use '../../styles/kol-form-field-mixin' as *;
@use '../../styles/kol-input-container-mixin' as *;
@use '../../styles/kol-input-mixin' as *;
@use '../@shared/mixins' as *;

@include kol-alert;
@include kol-form-field;
@include kol-input-container;

@layer kol-component {
	.kol-select {
		font-size: rem(16);
		cursor: pointer;
		width: 100%;

		&:not([multiple], [size]) {
			height: 2.75em;
		}

		&:focus {
			outline: none;
		}

		&__option:checked::before {
			content: '✓ ';
		}

		/* needed hack for vertical alignment */
		&[multiple] option {
			padding: calc((var(--a11y-min-size) - rem(16)) / 2) 0.5em;
		}
	}
}
