@use '../@shared/mixins' as *;
@use '../../styles/global' as *;
@use '../host-display-block' as *;

@layer kol-component {
	.kol-avatar {
		font-size: rem(16);
		border-radius: 50%;
		overflow: hidden;
		/* Visible with forced colors  */
		outline: transparent solid rem(1);
		/*theme?*/
		width: rem(100);
		height: rem(100);

		&__image {
			width: 100%;
			height: 100%;
		}

		&__initials {
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			/*theme?*/
			background-color: #d3d3d3;
			font-size: rem(40);
		}
	}
}
