@use '../@shared/mixins' as *;

@layer kol-component {
	.kol-spin {
		&__spinner {
			&--dot {
				height: rem(16);
				width: rem(48);
			}
		}

		&__spinner-element {
			animation-timing-function: cubic-bezier(0, 1, 1, 0);
			border-radius: 50%;
			border: rem(0.16) solid #fff;
			height: rem(12.8);
			position: absolute;
			top: rem(0.16);
			width: rem(12.8);

			&--1 {
				background-color: #000;
				z-index: 0;
				animation: 1s infinite spin1;
				left: rem(0.16);
			}

			&--2 {
				background-color: #000;
				z-index: 1;
				animation: 1s infinite spin2;
				left: rem(0.16);
			}

			&--3 {
				background-color: #000;
				z-index: 1;
				animation: 1s infinite spin2;
				left: rem(17.6);
			}

			&--neutral {
				background-color: #666;
				z-index: 0;
				animation: 1s infinite spin3;
				left: rem(33.6);
			}
		}
	}

	@keyframes spin1 {
		0% {
			transform: scale(0);
		}

		100% {
			transform: scale(1);
		}
	}

	@keyframes spin2 {
		0% {
			transform: translate(0, 0);
		}

		100% {
			transform: translate(rem(16), 0);
		}
	}

	@keyframes spin3 {
		0% {
			transform: scale(1);
		}

		100% {
			transform: scale(0);
		}
	}

	/* https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-reduced-motion#toning_down_the_animation_scaling */
	@media (prefers-reduced-motion) {
		.kol-spin__spinner-element {
			animation-duration: 2s;
		}
	}
}
