@use '../@shared/mixins' as *;
@use '../../styles/global' as *;
@use './cycle' as *;
@use './dot' as *;

@layer kol-component {
	.kol-spin {
		font-size: rem(16);

		&__spinner {
			display: block;
			padding: rem(2);
			position: relative;
		}
	}
}
