@use '../../styles/global' as *;
@use '../../styles/kol-alert-mixin' as *;
@use '../../styles/kol-form-field-mixin' as *;
@use '../../styles/kol-input-container-mixin' as *;
@use '../../styles/kol-input-mixin' as *;
@use '../@shared/mixins' as *;

@include kol-alert;
@include kol-form-field;
@include kol-input-container;
@include kol-input;

@layer kol-component {
	.kol-input {
		padding: calc((var(--a11y-min-size) - rem(16)) / 10) 0.5em;
		position: absolute;
		inset: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		cursor: pointer;
	}

	.kol-input-container {
		$root: &;
		padding: 0 0 0 rem(8) !important;

		&__container {
			display: flex;
			align-items: center;
			overflow: hidden;
			height: var(--a11y-min-size);
		}

		&__filename {
			flex-grow: 1;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			margin-left: rem(4);
		}

		&:has(> #{$root}__adornment--start):has(> #{$root}__adornment--end) {
			grid-template-columns: auto 1fr;
		}
	}
}
