@use '../@shared/mixins' as *;
@use '../../styles/global' as *;
@use '../@shared/kol-table-stateless-mixin' as *;

@include kol-table-stateless-styles;

@layer kol-component {
	:host {
		font-size: rem(16);
	}

	.kol-table-stateful {
		&__pagination,
		&__pagination-wrapper {
			display: grid;
			place-items: center;

			@media (min-width: 1024px) {
				grid-auto-flow: column;
			}
		}
	}

	.kol-pagination {
		display: flex;
		flex-wrap: wrap;

		@media (min-width: 1024px) {
			display: flex;
		}

		@media (max-width: 1024px) {
			flex-direction: column;
		}
	}
}
