@use '../@shared/mixins' as *;
@use '../../styles/global' as *;

@layer kol-component {
	.kol-breadcrumb {
		font-size: rem(16);

		&__list,
		&__list-element {
			margin: 0;
			padding: 0;
			list-style: none;
			display: flex;
			gap: 0.5em;
			flex-wrap: wrap;
			place-items: center;
		}

		&__icon {
			&::part(separator) {
				font-weight: 900;
				font-size: 0.7em;
			}

			&::part(separator):before {
				content: '\f054';
				font-family: 'Font Awesome 6 Free';
			}
		}
	}
}
