@use '../../mixins/rem' as *;
@use '../mixins/alert-wc' as *;
@use '../mixins/required' as *;

@layer kol-theme-component {
	:host {
		font-family: var(--font-family);
	}

	@include kol-alert-theme;

	.kol-form-field {
		color: var(--color-grey);

		&__hint {
			font-size: rem(14);
		}

		&__msg {
			@include kol-alert-wc;

			&.kol-alert--error {
				@include kol-alert-wc(--color-red);
			}
		}
	}

	.kol-field-control {
		gap: rem(8);

		&__label {
			&-text::after {
				@include kol-required-info;
			}
		}
	}

	.kol-checkbox {
		.kol-input {
			background-color: var(--color-white);
			border-width: 2px;
			border-style: solid;
			border-color: var(--color-grey-75);
			color: var(--color-grey);
			line-height: 1.5;
			font-size: rem(16);

			&:focus {
				outline-color: var(--color-blue);
				outline-offset: 2px;
				outline-style: solid;
				outline-width: 2px;
			}

			&:checked {
				background-color: var(--color-blue);
				border-color: var(--color-blue);
			}

			&:hover {
				border-color: var(--color-blue);
			}

			&:checked {
				&:hover {
					background-color: var(--color-blue-130);
					border-color: var(--color-blue-130);
				}
			}

			&--error {
				border-color: var(--color-red);

				&:checked {
					background-color: var(--color-red);
					border-color: var(--color-red);
				}

				&:hover {
					border-color: var(--color-red);
				}

				&:checked {
					&:hover {
						background-color: var(--color-red-120);
						border-color: var(--color-red-120);
					}
				}
			}
		}
	}

	.kol-checkbox--variant-default {
		min-width: unset;
		width: unset;

		&.kol-checkbox--checked .kol-icon {
			color: var(--color-white);
		}
	}

	.kol-checkbox--variant-switch {
		.kol-icon {
			color: var(--color-white);
		}

		.kol-input {
			display: block;

			&::before {
				background-color: var(--color-grey-75);
			}
		}

		&:hover {
			.kol-input::before {
				background-color: var(--color-blue);
			}
		}

		&.kol-checkbox--error {
			.kol-icon {
				background-color: var(--color-red);
				color: var(--color-white);
			}

			.kol-input::before {
				background-color: var(--color-red);
			}

			&.kol-checkbox--checked .kol-icon {
				background-color: var(--color-white);
				color: #000;
			}

			&:hover {
				.kol-input::before {
					background-color: var(--color-red);
				}
			}
		}
	}

	.kol-input-checkbox--variant-button {
		gap: var(--spacing-xs) 0;

		& .kol-form-field {
			&__input {
				order: 1;
			}

			&__hint {
				order: 2;
			}

			&__msg {
				order: 3;
			}
		}

		&:focus-within {
			outline-color: var(--color-blue-130);
			outline-style: solid;
			outline-width: 2px;
		}
	}
}
