@use '../../mixins/rem' as *;
@use '../mixins/alert-wc' as *;

$option-height: rem(40);
$visible-options: 5;

@layer kol-theme-component {
	:host {
		font-family: var(--font-family);
		@include kol-alert-theme;
	}

	.single-select {
		position: relative;

		&__group {
			display: inline-flex;
			align-items: center;
			width: 100%;
			min-height: rem(44);
			color: var(--color-grey);
			order: 4;
			padding: rem(1) 0.5em;
		}

		&__input {
			border: none;
			flex-grow: 1;
			width: calc(100% - 2.5rem);
			position: relative;

			&::placeholder {
				color: var(--color-grey-50);
			}

			&:first-child {
				padding-left: var(--spacing);
			}

			&:last-child {
				padding-right: var(--spacing);
			}

			&:not(.disabled) &:hover {
				border-color: var(--color-blue);
			}
		}

		&__button {
			display: grid;
			place-items: center;
			cursor: pointer;
			padding-left: 1em;

			&:focus {
				outline: 0;
			}
		}

		&__listbox {
			border-style: solid;
			border-width: 1px;
			border-color: var(--color-blue);
			max-height: calc($option-height * $visible-options + rem(2));
			overflow-y: auto;
			overflow-x: hidden;
			width: 100%;
		}

		&__item {
			display: flex;
			align-items: flex-start;
			justify-items: center;
			padding: rem(10) rem(12);
			min-height: $option-height;
			line-height: 1.2;

			.radio-label {
				align-self: center;
				padding-left: 1em;
			}

			&:focus,
			&.highlighted {
				background-color: var(--color-blue);
				color: white;
				outline: 0;
			}
		}
	}

	.kol-input {
		color: var(--color-grey);
		gap: var(--spacing-xs);
	}

	input,
	select,
	textarea {
		border: none;
		outline: none;
	}

	input,
	select:not([multiple]) {
		height: rem(44);
		min-height: rem(44);
	}

	label {
		font-weight: var(--font-weight-bold);
		order: 1;
	}

	.hint {
		font-size: rem(14);
		order: 2;
	}

	.kol-alert {
		@include kol-alert-wc(--color-red);

		order: 3;
	}

	.input {
		min-height: rem(44);
		border: 1px solid var(--color-grey-75);
		color: var(--color-grey);
		order: 4;
		align-items: center;
		padding: rem(1);
	}

	input::placeholder,
	textarea::placeholder {
		color: var(--color-grey-50);
	}

	.input:focus-within {
		box-shadow:
			inset rem(1) rem(1) var(--color-blue),
			inset rem(-1) rem(-1) var(--color-blue);
		outline: none;
	}

	.input:focus-within,
	.input:hover {
		border-color: var(--color-blue);
	}

	.error .input {
		border-color: var(--color-red);
	}
}
