@use '../../mixins/rem' as *;

@layer kol-theme-component {
	.kol-skip-nav {
		font-family: var(--font-family);

		.kol-link {
			&__text {
				border-radius: 4px;
				gap: rem(8);
				line-height: 1;
				padding: rem(12);
				background-color: #0e47cb;
				color: #fff;
				cursor: pointer;
			}
		}
	}
}
