@use '../mixins/button' as *;

@layer kol-theme-component {
	.kol-split-button {
		font-family: var(--font-family);
		border-style: solid;
		border-width: 2px;
		border-color: var(--color-blue);
		border-radius: 4px;

		&__horizontal-line {
			border: 0;
			border-top: 1px solid var(--color-blue);
		}

		.kol-popover__content {
			background-color: #fff;
		}

		@include kol-button('kol-button');
	}
}
