@use '../@shared/mixins' as *;
@use '../../styles/global' as *;
@use '../tooltip/style.scss' as *;

@layer kol-component {
	.kol-badge {
		display: inline-flex;
		place-items: center;
		/* Visible with forced colors  */
		outline: transparent solid rem(1);
		font-size: rem(16);

		.kol-badge__smart-button {
			.button {
				color: inherit;
			}
		}
	}
}
