@use '../mixins/rem' as *;
@use '../mixins/focus-outline' as *;
@use '../mixins/typography' as *;

@layer kol-theme-component {
	:host {
		font-size: rem(16);
		font-family: var(--font-family);
	}

	.kol-accordion {
		width: 100%;
		height: 100%;
		display: grid;

		&__content {
			margin: 0;
			padding-left: 2.25em;
			padding-bottom: rem(12);
			padding-right: rem(8);
		}

		&__heading {
			margin: 0;
		}

		&__heading-button {
			display: flex;

			&:focus-within {
				@include focus-outline;
				cursor: pointer;

				.kol-button {
					outline: 0;
				}
			}

			.kol-span {
				&__container {
					display: flex;
					place-items: baseline center;
					text-align: left;
					gap: 0.5em;
					@include kol-typography-accordion;
				}
			}

			border-radius: var(--border-radius);
			min-height: rem(35.2);

			.kol-button {
				padding: rem(12) rem(8);

				:focus {
					outline: none;
				}
			}

			.kol-icon {
				color: var(--color-primary);
				font-size: rem(16);
			}
		}
	}
}
