@use '../mixins/rem' as *;

@layer kol-theme-component {
	.kol-badge {
		font-family: var(--font-family);
		border-radius: var(--border-radius);
		display: inline-flex;
		font-style: normal;

		&--has-smart-button {
			align-items: center;
		}

		&__smart-button {
			.kol-button {
				color: inherit;
				border-top-right-radius: var(--border-radius);
				border-bottom-right-radius: var(--border-radius);
				padding: rem(3.2);

				&:hover {
					background-color: var(--color-primary-variant);
					color: var(--color-light);
				}

				&__text {
					align-items: center;
					font-style: normal;
					padding: rem(4) rem(12);
				}
			}
		}

		&__label {
			padding: rem(4) rem(12);
			align-items: center;
			font-style: normal;
			gap: rem(8);

			.kol-span__container {
				display: flex;
				gap: rem(4);
			}
		}
	}
}
