@use '../mixins/rem' as *;

@layer kol-theme-component {
	.kol-breadcrumb {
		font-family: var(--font-family);

		&__list-element-span {
			color: var(--color-subtle);
		}

		&__link {
			&::part(icon) {
				font-size: rem(20);
			}
		}

		&__icon {
			font-size: rem(12);
			color: var(--color-subtle);
		}
	}
}
