@use '../mixins/rem' as *;
@use '../mixins/link' as *;

@layer kol-theme-component {
	@include kol-link('kol-button');

	.kol-button {
		$root: &;

		color: var(--color-primary);
		font-style: normal;
		font-weight: 400;
		font-size: inherit;

		&:focus {
			outline: none;

			--text-border-radius: var(--border-radius);
			--text-outline: calc(var(--border-width) * 2) solid;
		}

		&:visited {
			color: var(--visited);
		}

		&__text {
			@at-root #{$root}:focus & {
				border-radius: var(--text-border-radius);
				outline: var(--text-outline);
			}

			.kol-span__label {
				@at-root #{$root}:is(:focus, :hover):not([aria-disabled], [disabled]) & {
					text-decoration-thickness: 0.25em;
				}
			}
		}
	}

	.badge-text-hint {
		background-color: var(--color-mute-variant);
		border-radius: 3px;
		color: var(--color-text);
		padding: 0 0.3em;
	}
}
