@use '../mixins/rem' as *;

@layer kol-theme-component {
	.kol-card {
		font-family: var(--font-family);
		display: grid;
		width: 100%;
		height: 100%;
		background-color: var(--color-light);
		grid-template-rows: min-content 2fr min-content;
		box-shadow: 0 0 4px color-mix(in srgb, black 80%, var(--color-subtle)); // darken by 80% to maintain contrast of 3:1
		border-radius: var(--border-radius);

		&__header {
			padding: rem(16) rem(16) rem(8) rem(16);
		}

		&__content {
			padding: rem(8) rem(16) rem(16);
			overflow: hidden;
		}

		&__headline {
			line-height: 1.75;
		}
	}
}
