@use '../mixins/rem' as *;
@use '../mixins/indented-text' as *;
@use '../mixins/focus-outline' as *;

@layer kol-theme-component {
	.kol-details {
		font-family: var(--font-family);
		font-size: rem(16);
		width: 100%;
		height: 100%;
		display: grid;

		&__content {
			&.indented-text {
				@include indented-text;
				margin: rem(4) 0 0 rem(10.4);
			}
		}

		&__heading {
			margin: 0;
		}

		&__heading-button {
			.kol-icon {
				font-size: rem(19.2);
			}

			.kol-span {
				&__container {
					display: flex;
					text-align: left;
					gap: 0;
				}

				&__label {
					border-bottom-color: #000;
				}
			}

			.kol-button:focus-within {
				@include focus-outline;
				cursor: pointer;
			}
		}
	}
}
