@use '../mixins/alert-wc' as *;
@use '../mixins/indented-text' as *;
@use '../mixins/link' as *;

@layer kol-theme-component {
	@include kol-link('kol-link');
	@include kol-alert-theme;

	.kol-form {
		font-family: var(--font-family);

		&__link {
			display: inline-block;
		}

		&__mandatory-fields-hint {
			@include indented-text;
		}
	}
}
