@use '../mixins/rem' as *;
@use '../mixins/focus-outline' as *;

@layer kol-theme-component {
	.kol-nav {
		$root: &;

		font-family: var(--font-family);

		&__navigation {
			background-color: var(--color-mute);
		}

		&__list {
			list-style: none;

			// nested lists
			&--nested {
				padding-left: rem(16);

				.kol-link,
				.kol-button {
					font-weight: normal !important;
					border-left-color: transparent !important;
				}
			}
		}

		&__entry {
			&--link {
				display: flex;
			}

			.kol-link:hover {
				text-decoration: underline;
			}

			.kol-link,
			.kol-button {
				align-items: center;
				color: var(--color-primary);
				display: flex;
				gap: rem(8);
				min-height: var(--a11y-min-size);
				text-decoration: none;

				&:focus-visible {
					@include focus-outline;
				}

				#{$root}__list--vertical & {
					border-left: 2px solid transparent;
					padding-left: rem(8);
				}

				#{$root}--horizontal & {
					padding: 0 rem(16);
				}

				#{$root}--vertical #{$root}__list-item--active & {
					border-left-color: var(--color-primary);
				}

				#{$root}__list-item--active & {
					font-weight: bold;
				}
			}
		}

		&__expand-button {
			margin-left: rem(8);

			.kol-button {
				&:hover {
					background-color: var(--color-primary);
					color: var(--color-light);
				}

				&:focus-visible {
					@include focus-outline;
				}

				&__text {
					justify-content: center;
				}
			}
		}
	}
}
