@use '../mixins/focus-outline' as *;
@use '../mixins/rem' as *;

@layer kol-theme-component {
	:host {
		font-family: var(--font-family);
	}

	.kol-button {
		.kol-pagination__button--selected & {
			opacity: 1;
		}
	}

	.kol-button__text {
		background-color: var(--color-light);
		border-radius: var(--border-radius);
		border: 1px solid var(--color-primary);
		color: var(--color-primary);
		font-weight: 700;
		min-height: var(--a11y-min-size);
		min-width: var(--a11y-min-size);
		padding: rem(8);
		text-align: center;
		transition-duration: 0.5s;
		transition-property: background-color, color, border-color;

		.kol-pagination__button--selected & {
			background-color: var(--color-primary);
			color: var(--color-light);
			border: 0;
		}

		.kol-button:focus & {
			@include focus-outline;
		}

		.kol-button:is(:active, :hover):not(:disabled) & {
			background-color: var(--color-primary-variant);
			border-color: var(--color-primary-variant);
			box-shadow: 0 2px 8px 2px rgba(8, 35, 48, 0.24);
			color: var(--color-light);
		}

		.kol-button:active & {
			color: var(--color-light);
			outline: none;
		}
	}
}
