@use '../mixins/rem' as *;

@layer kol-theme-component {
	.kol-progress {
		font-family: var(--font-family);

		&__bar-progress {
			fill: var(--color-primary-variant);
		}

		&__cycle-background {
			stroke: var(--color-mute-variant);
		}

		&__cycle-progress {
			stroke: var(--color-primary-variant);
		}
	}
}
