@use '../@shared/input-core' as *;
@use '../mixins/rem' as *;

@layer kol-theme-component {
	.kol-select {
		border: none;

		&[multiple] {
			overflow: auto;
		}

		&__option {
			margin: rem(1) 0;
			border-radius: var(--border-radius);
			cursor: pointer;

			&:disabled {
				cursor: not-allowed;
			}

			&:active:not(:disabled),
			&:checked:not(:disabled),
			&:focus:not(:disabled),
			&:hover:not(:disabled) {
				background-color: var(--color-primary-variant);
				color: var(--color-light);
			}
		}

		&:not([multiple]) &__option {
			padding: 0.5em;
		}
	}
}
