@use '../mixins/rem' as *;

@layer kol-theme-component {
	.kol-skip-nav {
		font-family: var(--font-family);

		.kol-link {
			&__text {
				border-radius: var(--a11y-min-size);
				border-style: solid;
				border-width: var(--border-width);
				gap: calc(var(--spacing) * 2);
				line-height: 1;
				padding: rem(8) rem(14);
				background-color: var(--color-primary-variant);
				border-color: var(--color-primary-variant);
				color: var(--color-light);
				cursor: pointer;
			}
		}
	}
}
