@use '../mixins/button' as *;
@use '../mixins/rem' as *;

@layer kol-theme-component {
	.kol-split-button {
		font-family: var(--font-family);
		border-radius: var(--border-radius);
		border-style: solid;
		border-width: var(--border-width);
		border-color: var(--color-primary);
		min-height: var(--a11y-min-size);
		min-width: var(--a11y-min-size);

		&__button .kol-button {
			// Temp-Fix Hover-effect on Button clipping border
			.kol-span {
				border-top-left-radius: var(--border-radius);
				border-bottom-left-radius: var(--border-radius);
			}
		}

		&__horizontal-line {
			background-color: var(--color-primary);
			border-radius: 2px;
			width: rem(1);
		}

		&__secondary-button {
			height: 100%;

			.kol-span {
				border-top-right-radius: var(--border-radius);
				border-bottom-right-radius: var(--border-radius);
			}
		}

		.kol-span {
			font-weight: 700;
			min-height: var(--a11y-min-size);
			min-width: var(--a11y-min-size);
			padding: rem(8) rem(14);
			text-align: center;
			transition-duration: 0.5s;
			transition-property: background-color, color, border-color;
		}

		.kol-popover__content {
			background-color: #fff;
		}

		@include kol-button('kol-button');
	}
}
