@use '../@shared/input-text' as *;
@use '../mixins/form-field-order.textarea' as *;

@layer kol-theme-component {
	:host {
		font-family: var(--font-family);
	}

	@include kol-form-field-order-textarea-theme;

	.kol-textarea {
		border: none;
		display: block;
		overflow: auto;

		&:disabled {
			cursor: not-allowed;
		}

		&::placeholder {
			color: var(--color-subtle);
		}
	}
}
