@use '../mixins/rem' as *;

@layer kol-theme-component {
	.kol-tree {
		&__treeview-navigation {
			border: 2px solid transparent;
			border-radius: var(--border-radius);
		}

		&:focus-within {
			outline: 0;

			ul {
				border: 2px solid var(--color-primary);
			}
		}
	}
}
