@use '../mixins/rem' as *;

@layer kol-theme-component {
	.kol-tree-item {
		$root: &;

		&__link {
			display: block;
			border: 1px solid transparent;

			.kol-link {
				display: block;
				color: var(--color-text);
				text-decoration: none;
				text-align: left;
			}

			&:hover,
			&:focus-within {
				border: 1px solid var(--color-primary);
				background-color: var(--color-primary-variant);

				.kol-link {
					outline-offset: 0;
					color: var(--color-light);
				}
			}

			&--active {
				background-color: var(--color-primary);

				.kol-link {
					color: var(--color-light);
				}
			}
		}

		&__toggle-button {
			display: inline-block;

			&:hover {
				transform: scale(1.3);
			}
		}
	}
}
