@use '../@shared/mixins' as *;
@use '../../styles/global' as *;

@layer kol-component {
	.kol-skip-nav {
		font-size: rem(16);

		&__list {
			display: grid;
			list-style: none;
			place-items: center;
		}

		&__list-item {
			height: 0;
		}

		.kol-link {
			left: rem(-99999);
			overflow: hidden;
			position: absolute;
			z-index: 9999999;
			line-height: 1;

			&:focus {
				background-color: #fff;
				left: unset;
				position: unset;
			}
		}
	}
}
