@use '../@shared/mixins' as *;
@use '../../styles/global' as *;

@layer kol-component {
	.kol-toolbar {
		font-size: rem(16);

		display: flex;
		align-items: center;
		gap: rem(16);
		flex-wrap: wrap;

		&:focus-within {
			outline: 1px solid;
			outline-offset: 2px;
		}
	}
}
