@use '../@shared/mixins' as *;

@layer kol-component {
	:host {
		font-size: rem(16);
	}

	.kol-tooltip {
		display: contents;

		&__floating {
			animation-duration: 0.25s;
			animation-iteration-count: 1;
			animation-name: fadeInOpacity;
			animation-timing-function: ease-in;
			box-sizing: border-box;
			display: none;
			position: fixed;
			visibility: hidden;
			/* Avoid layout interference - see https://floating-ui.com/docs/computePosition */
			top: 0;
			left: 0;
			max-width: 90vw;
			max-height: 90vh;
			/* Can be used to specify the tooltip-width from the outside. Unset by default.  */
			width: var(--kol-tooltip-width);
		}

		&__arrow {
			background-color: #fff;
			color: #000;
			height: rem(10);
			position: absolute;
			transform: rotate(45deg);
			width: rem(10);
			z-index: 999;
		}

		&__content {
			background-color: #fff;
			color: #000;
			position: relative;
			z-index: 1000;
		}
	}

	@keyframes fadeInOpacity {
		0% {
			opacity: 0;
		}

		100% {
			opacity: 1;
		}
	}
}
