@use '../../mixins/rem' as *;
@use '../mixins/alert-wc' as *;
@use '../mixins/typography' as *;
@use '../mixins/required' as *;

@layer kol-theme-component {
	:host {
		font-family: var(--font-family);
	}

	@include kol-alert-theme;

	/**
	 * normalizes the layout of form elements.
	*/
	.kol-form-field {
		border: 0;
		margin: 0;
		padding: 0;
		flex-wrap: wrap;
	}

	/**
	 * order the layout of form elements.
	*/
	.kol-form-field {
		&__label {
			order: 1;
		}

		&__input {
			order: 2;
		}

		&__msg {
			order: 3;
		}

		&__hint {
			order: 4;
		}
	}

	.kol-form-field {
		border: 0;
		gap: rem(8);
		flex-wrap: wrap;
		align-items: flex-start;
		padding: 0 rem(14) rem(10) rem(14);

		&__label {
			color: var(--color-grey);
			font-weight: var(--font-weight-bold);

			&-text::after {
				@include kol-required-info;
			}
		}

		&__hint {
			@include kol-typography-hint;
		}

		&__input {
			gap: rem(8);
		}

		&__msg {
			@include kol-alert-wc;

			&.kol-alert--error {
				@include kol-alert-wc(--color-red);
			}
		}
	}

	.kol-field-control {
		gap: rem(8);
	}

	.kol-input {
		&:before {
			display: none;
		}

		&:checked {
			border-color: var(--color-blue);
			border-width: 7px;
		}

		&:focus {
			outline-color: var(--color-blue);
		}

		&:not(:disabled) {
			&:hover {
				border-color: var(--color-blue);
			}
		}

		&#{&}--error {
			border: 2px solid var(--color-red);

			&:before {
				display: none;
			}

			&:checked {
				border-color: var(--color-red);
				border-width: 7px;
			}

			&:not(:disabled) {
				&:hover {
					border-color: var(--color-red-1xx);
				}
			}
		}
	}
}
