@use '../../mixins/rem' as *;

@layer kol-theme-component {
	.kol-link {
		--kolibri-spacing: #{rem(4)};
		appearance: none;
		color: var(--color-blue);
		text-decoration: underline;

		&:hover {
			color: var(--color-blue-130);
		}
	}
}
