@use '../../mixins/rem' as *;

@layer kol-theme-component {
	.kol-nav {
		$root: &;
		font-family: var(--font-family);

		&__navigation {
			background-color: var(--color-blue);
		}

		&__list {
			display: flex;
			list-style: none;
			margin: 0;
			padding: 0;

			&--vertical {
				flex-direction: column;
			}
		}

		&__list-item {
			border-color: var(--color-blue-75);
			border-style: solid;
			border-width: 0;

			&:not(:first-child),
			#{$root}__list--nested & {
				border-top-width: rem(2);
			}
		}

		&__entry {
			flex-grow: 1;
		}

		&__expand-button {
			.kol-button {
				background-color: var(--color-blue-130);
				margin: auto;
				height: 100%;
			}

			&--expanded .kol-icon::part(icon)::before {
				content: '\eab4';
			}

			&:not(&--expanded) .kol-icon::part(icon)::before {
				content: '\eab6';
			}
		}
	}

	.kol-link {
		text-decoration: none;
	}

	.kol-span {
		border-color: transparent;
		border-style: solid;
		border-width: 2px;
		color: var(--color-white);
		font-size: rem(18);
		justify-items: start;
		padding: rem(16);
		height: 100%;

		:is(.kol-button, .kol-link):focus-within & {
			border-color: var(--color-white);
		}

		:is(.kol-button, .kol-link):focus-within &,
		:is(.kol-button, .kol-link):hover & {
			text-decoration: underline;
		}
	}
}
