@use '../mixins/button' as *;
@use '../../mixins/rem' as *;

@layer kol-theme-component {
	.kol-split-button {
		font-family: var(--font-family);
		border-radius: 0;
		border-style: solid;
		border-width: 2px;
		border-color: var(--color-blue);

		.kol-popover__content {
			background-color: #fff;
		}

		.kol-button .kol-span {
			font-weight: var(--font-weight-bold);
			margin: 0;
			min-height: rem(44);
			min-width: rem(44);
			padding: 0.25em 0.75em;
		}

		&__horizontal-line {
			border: 0;
			border-top: 1px solid var(--color-blue);
		}

		@include kol-button('kol-button');
	}
}
