@use '../../mixins/rem' as *;
@use '../mixins/alert-wc' as *;

@layer kol-theme-component {
	:host {
		top: rem(16);
		right: rem(16);
		width: rem(440);
		max-width: 100%;
	}

	.kol-toast-item {
		@include kol-alert-theme;
		display: block;
		background-color: #fff;
		margin-top: rem(16);

		&__alert {
			display: block;
		}
	}
}
