@use '../../mixins/rem' as *;

@layer kol-theme-component {
	.kol-toolbar {
		padding: var(--spacing-s);
		border-color: var(--color-grey-25);
		border-style: solid;
		border-width: 1px;
		background-color: var(--color-grey-5);
	}
}
