@use '../@shared/mixins' as *;
@use '../../styles/global' as *;
@use '../popover/style.scss' as *;
@use '../tooltip/style.scss' as *;

@layer kol-component {
	.kol-split-button {
		display: flex;
		font-size: rem(16);
		position: relative;

		&__root {
			display: flex;
			position: relative;
		}

		&__button {
			flex-grow: 1;
			text-align: left;
		}

		.kol-popover {
			&__content {
				margin-top: rem(2);
			}

			&__arrow {
				display: none;
			}
		}
	}
}
