@use './rem' as *;
@use './focus-outline' as *;

@mixin kol-button($block-classname) {
	.#{$block-classname} {
		$root: &;

		&:focus {
			outline: none;
		}

		&--primary {
			--text-background-color: var(--color-primary);
			--text-border-color: var(--color-primary);
			--text-color: var(--color-light);
		}

		&--secondary,
		&--normal {
			--text-background-color: var(--color-light);
			--text-border-color: var(--color-primary);
			--text-color: var(--color-primary);
		}

		&--danger {
			--text-background-color: var(--color-danger);
			--text-border-color: var(--color-danger);
			--text-color: var(--color-light);
		}

		&--ghost {
			--text-background-color: var(--color-light);
			--text-border-color: var(--color-light);
			--text-color: var(--color-primary);
			--text-box-shadow: none;
		}

		&--primary,
		&--secondary,
		&--normal,
		&--danger,
		&--ghost {
			&:not([disabled]):hover {
				--text-background-color: var(--color-primary-variant);
				--text-border-color: var(--color-primary-variant);
				--text-color: var(--color-light);
			}
		}

		&--danger {
			&:not([disabled]):hover {
				--text-background-color: var(--color-danger);
				--text-border-color: var(--color-danger);
			}
		}

		&__text {
			background-color: var(--text-background-color);
			border-color: var(--text-border-color);
			color: var(--text-color);

			min-height: var(--a11y-min-size);
			min-width: var(--a11y-min-size);
			padding: rem(8) rem(14);
			text-align: center;
			transition-duration: 0.5s;
			transition-property: background-color, color, border-color;

			&:hover {
				box-shadow: 0 2px 8px 2px rgba(8, 35, 48, 0.24);
				background-color: var(--text-background-color);
				border-color: var(--text-border-color);
				color: var(--text-color);
			}

			@at-root #{$root}--hide-label & {
				padding: rem(12.8);
				width: unset;

				.kol-span__label {
					display: none;
				}
			}

			@at-root #{$root}:focus {
				@include focus-outline;
			}

			@at-root #{$root}:disabled:hover & {
				background-color: var(--text-background-color);
				border-color: var(--text-border-color);
				color: var(--text-color);
				box-shadow: none;
			}
		}

		.badge-text-hint {
			background-color: var(--color-mute-variant);
			border-radius: 3px;
			color: var(--color-text);
			padding: 0 0.3em;
		}
	}
}
