@use './rem' as *;

@mixin kol-custom-suggestions-toggle-theme {
	.kol-custom-suggestions-toggle {
		display: grid;
		place-items: center;
		padding-left: rem(8);
		padding-right: rem(8);

		&:focus {
			outline: 0;
		}
	}
}
