@use './rem' as *;
@use '../mixins/alert-wc' as *;

@mixin input-error {
	border-left: 3px solid var(--color-danger);
	padding-left: rem(16);

	.input:focus-within {
		outline-color: var(--color-danger);
	}

	.kol-alert--error {
		@include kol-input-error-with-kol-alert-wc-error(--color-danger);
	}
}
