@use '@shared/mixins' as *;

/*
 * This file contains all rules for accessibility.
 */
@layer kol-global {
	:host {
		/*
		 * Minimum size of interactive elements.
		 */
		--a11y-min-size: #{rem(44)};
		/*
		 * No element should be used without a background and font color whose contrast ratio has
		 * not been checked. By initially setting the background color to white and the font color
		 * to black, the contrast ratio is ensured and explicit adjustment is forced.
		 */
		background-color: white;
		color: black;
		/*
		 * Verdana is an accessible font that can be used without requiring additional loading time.
		 */
		font-family: Verdana;
	}

	* {
		/*
		 * This rule enables the word dividing for all texts. That is important for high zoom levels.
		 */
		hyphens: auto;
		/*
		 * Letter spacing is required for all texts.
		 */
		letter-spacing: inherit;
		/*
		 * This rule enables the word dividing for all texts. That is important for high zoom levels.
		 */
		word-break: break-word;
		/*
		 * Word spacing is required for all texts.
		 */
		word-spacing: inherit;
	}

	/*
	 * All interactive elements should have a minimum size of rem(44).
	 */
	/* input:not([type='checkbox'], [type='radio'], [type='range']), */
	/* option, */
	/* select, */
	/* textarea, */
	[role='button'],
	button:not([role='link']) {
		min-height: var(--a11y-min-size);
		min-width: var(--a11y-min-size);
	}

	/*
	 * Some interactive elements should not inherit the font-family and font-size.
	 */
	a,
	button,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	input,
	option,
	select,
	textarea {
		/*
		 * All elements should inherit the font family from his parent element.
		 */
		font-family: inherit;
		/*
		 * All elements should inherit the font size from his parent element.
		 */
		font-size: inherit;
	}
}

/**
 * Sometimes we need the semantic element for accessibility reasons,
 * but we don't want to show it.
 *
 * - https://www.a11yproject.com/posts/how-to-hide-content/
 */
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: rem(1);
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: rem(1);
}
