@use '../@shared/mixins' as *;
@use '../../styles/global' as *;
@use '../tooltip/style.scss' as *;

@layer kol-component {
	.kol-card {
		font-size: rem(16);

		height: 100%;
		position: relative;
		/* Visible with forced colors  */
		outline: transparent solid rem(1);

		&__close-button {
			position: absolute;
			top: 0;
			right: 0;
		}
	}
}
