@use '../../mixins/rem' as *;

@mixin kol-button($block-classname) {
	.#{$block-classname} {
		$root: &;
		--kolibri-spacing: #{rem(4)};
		--text-focus-outline-color: var(--color-white);

		font-family: var(--font-family);
		appearance: none;
		border-radius: 4px;
		text-decoration: none;

		&--primary {
			--text-background-color: #0e47cb;
			--text-color: #fff;
			--text-focus-outline-color: #fff;

			&:hover {
				--text-background-color: #3e6cd5;
			}
		}

		&--secondary {
			--text-background-color: #fff;
			--text-color: #0e47cb;
			--text-border-color: #0e47cb;
			--text-focus-outline-color: #fff;

			&:hover {
				--text-color: #0e47cb;
			}
		}

		&--normal {
			--text-background-color: #fc0;
			--text-color: #171a22;
			--text-focus-outline-color: #000;
			--text-border-color: #fc0;

			&:hover {
				--text-background-color: #fc0;
			}
		}

		&--danger {
			--text-background-color: var(--color-red);
			--text-border-color: var(--color-red);
			--text-color: var(--color-white);

			&:hover {
				--text-background-color: var(--color-red);
				--text-border-color: var(--color-red);
			}
		}

		&--ghost {
			--text-color: #0e47cb;
			--text-focus-outline-color: #0e47cb;

			&:hover {
				--text-color: #0e47cb;
			}
		}

		&:focus {
			outline: none;
		}

		&__text {
			min-height: rem(44);
			min-width: rem(44);
			border-radius: 4px;
			font:
				normal normal 400 rem(16) / rem(20) arial,
				sans-serif;
			font-weight: 400;
			margin: 0;
			padding: rem(12);
			line-height: 1.2;

			background-color: var(--text-background-color);
			border-color: var(--text-border-color);
			color: var(--text-color);

			&:active,
			&:hover {
				box-shadow:
					0 rem(2) rem(4) rgb(9 49 142 / 8%),
					0 0 rem(10) rgb(9 49 142 / 4%),
					0 rem(4) rem(5) rgb(9 49 142 / 4%),
					0 rem(-4) rem(4) rgb(9 49 142 / 4%);
			}

			@at-root #{$root}--secondary & {
				padding: calc(rem(12) - rem(2)) calc(rem(16) - rem(2));
				border: 2px solid #0e47cb;
			}

			@at-root #{$root}--secondary.button:focus-visible & {
				box-shadow: inset 0 0 0 rem(4) #0e47cb;
			}

			@at-root #{$root}:focus-visible & {
				outline-offset: -4px;
				outline: var(--text-focus-outline-color) solid rem(2);
			}

			@at-root #{$root}--hide-label & {
				.kol-span__label {
					display: none;
				}
			}
		}
	}
}
