@use '../../mixins/rem' as *;

@mixin kol-table-stateless-wc {
	.kol-table {
		$root: &;

		display: block;
		font-family: var(--font-family);

		overflow-x: auto;
		overflow-y: hidden;
		padding: 0.5em;

		&__caption {
			padding: 0.5em;
		}

		&__focus-element {
			&:focus {
				outline-color: var(--color-blue);
				outline-offset: 2px;
				outline-style: solid;
				outline-width: 2px;
			}
		}

		&__table {
			width: 100%;
			border-spacing: 0;
			border-width: 0;
			border-bottom-width: rem(2);
			border-style: solid;
			border-color: var(--color-ice);
		}

		&__cell {
			padding: 0.5em;

			&--selection,
			&--header {
				@at-root #{$root}__head-row:first-child & {
					border-width: 0;
					border-top-width: rem(2);
					border-style: solid;
					border-color: var(--color-ice);
				}

				@at-root #{$root}__head-row:last-child & {
					border-width: 0;
					border-bottom-width: rem(2);
					border-style: solid;
					border-color: var(--color-ice);
				}
			}

			&--header {
				font-weight: normal;
				color: var(--color-midnight);
				background-color: var(--color-white);

				&--ascending,
				&--descending {
					font-weight: 700;

					.kol-button {
						font-weight: 700;
					}
				}
			}
		}

		&__row {
			&--body {
				&:nth-child(odd) {
					background-color: var(--color-grey-10);
				}
			}
		}

		&__selection {
			display: flex;
			gap: 0.5em;
			grid-template-columns: 1fr auto;
			align-items: center;
		}

		&__selection-input {
			&:focus {
				border-color: var(--color-blue);
				outline-color: var(--color-blue);
				outline-style: solid;
				outline-offset: 2px;
				outline-width: 2px;
			}

			// CHECKBOX
			&--checkbox {
				border-color: var(--color-grey-75);

				&:checked {
					background-color: var(--color-blue);
					border-color: var(--color-blue);
				}
			}

			// RADIO
			&--radio {
				display: block;
				border-color: var(--color-grey-75);
				outline-offset: 2px;

				&:hover {
					border-color: var(--color-blue);
				}

				&:checked {
					outline: 2px solid var(--color-blue);
					border-color: var(--color-blue);
					border-width: 7px;

					&:before {
						background-color: var(--color-white);
					}
				}
			}

			@at-root #{$root}__selection--indeterminate & {
				background-color: var(--color-white);
			}
		}

		&__selection-icon {
			color: var(--color-white);

			@at-root #{$root}__selection--indeterminate & {
				color: var(--color-blue);
			}
		}

		.kol-icon:hover ~ &__selection-input--checkbox,
		&__selection-input--checkbox:hover {
			border-color: var(--color-blue);
		}
	}
}
