@use '../@shared/mixins' as *;

@layer kol-component {
	.kol-popover {
		font-size: rem(16);
		height: 0;
		position: absolute;

		&__content {
			background-color: #fff;
			min-height: max-content;
			min-width: max-content;
			opacity: 0;
			position: absolute;

			&--visible {
				animation: 0.3s ease-in forwards fadeInOpacity;
			}

			&--disappear {
				animation: 0.3s ease-in backwards fadeInOpacity;
			}
		}

		&__arrow {
			background-color: inherit;
			height: var(--font-size);
			position: absolute;
			rotate: 0.125turn;
			width: var(--font-size);
			z-index: -1;
		}
	}

	@keyframes fadeInOpacity {
		0% {
			opacity: 0;
		}

		100% {
			opacity: 1;
		}
	}
}
