@use '../../styles/global' as *;
@use '../../styles/kol-alert-mixin' as *;
@use '../../styles/kol-custom-suggestions-option' as *;
@use '../../styles/kol-custom-suggestions-options-group' as *;
@use '../../styles/kol-custom-suggestions-toggle' as *;
@use '../../styles/kol-form-field-mixin' as *;
@use '../../styles/kol-input-container-mixin' as *;
@use '../../styles/kol-input-mixin' as *;
@use '../@shared/mixins' as *;

@include kol-alert;
@include kol-custom-suggestions-option;
@include kol-custom-suggestions-options-group;
@include kol-custom-suggestions-toggle;
@include kol-form-field;
@include kol-input-container;
@include kol-input;

@layer kol-component {
	.kol-single-select {
		&__no-results-message {
			cursor: default;
			display: flex;
			align-items: center;
			justify-content: center;
			min-height: rem(50);
		}
	}
}
