@use './@shared/mixins' as *;

:root {
	--kolibri-root-font-size: 100;
	font-size: 625%;
}

body {
	margin: 0;
	font-family: Verdana;
	font-size: rem(16);
	line-height: normal;
}

dl,
hr {
	margin: 0;
}

.grid-cols-2 {
	grid-template-columns: auto auto;
}

.indented-text {
	p {
		font-family: var(--font-family);
		border-left: -2px solid var(--color-primary-variant);
		padding: 0 calc(8rem / var(--kolibri-root-font-size, 16));
		margin-left: rem(-2);
	}
}

.black-background {
	background-color: black;
	display: flex;
	flex-direction: column;
	padding: rem(8);
}

.w-image {
	width: 500px;
}

@media (min-width: 1024px) {
	.app-container {
		display: grid;
		grid-template-columns: rem(360) calc(100% - rem(360));
		min-height: 100vh;
		height: 100%;
	}

	.app-sidebar {
		border-right: 1px solid gray;
		position: relative;

		& .scrollable-container-wrapper {
			position: fixed;
			top: 0;
			bottom: 0;
			left: 0;
			width: rem(330);
			margin: rem(16);
			flex-direction: column;
			display: flex;

			& .scrollable-container {
				flex: 1 auto;
				overflow: auto;
			}
		}
	}
}

@media print {

	.no-print,
	.no-print * {
		display: none !important;
	}
}