@use '../@shared/mixins' as *;
@use '../../styles/global' as *;
@use '../tooltip/style.scss' as *;

@layer kol-component {
	.kol-nav {
		$root: &;

		font-size: rem(16);
		display: grid;
		place-items: center;

		&--horizontal {
			width: 100%;
		}

		&__navigation {
			#{$root}:not(#{$root}--is-compact) & {
				width: 100%;
			}
		}

		&__list {
			display: flex;
			list-style: none;
			margin: 0;
			padding: 0;

			&--vertical {
				flex-direction: column;
			}

			&--horizontal {
				flex-wrap: wrap;
			}
		}

		&__entry-wrapper {
			display: flex;
		}

		&__entry {
			flex-grow: 1;
		}
	}
}
