@use '../@shared/mixins' as *;
@use '../../assets/codicons/codicon' as *;

@layer kol-component {
	/*
	* Necessary to center icon
	 */
	:host {
		display: contents;
	}

	.kol-icon {
		font-size: rem(16);
		color: inherit;
		line-height: inherit;

		&__icon,
		&__icon:before {
			font-size: inherit !important;
		}

		&__icon:before {
			line-height: normal;
		}
	}
}
