@use '../@shared/mixins' as *;
@use '../../styles/global' as *;

@layer kol-component {
	.kol-drawer {
		font-size: rem(16);

		&__dialog {
			padding: 0;
			border: none;
		}

		&__wrapper {
			position: fixed;
			width: auto;
			overflow: auto;
			background-color: white;

			&--left {
				top: 0;
				left: 0;
				height: 100vh;
				max-height: 100%;
			}

			&--right {
				top: 0;
				right: 0;
				height: 100vh;
				max-height: 100%;
			}

			&--top {
				left: 0;
				top: 0;
				width: 100vw;
				max-width: 100%;
			}

			&--bottom {
				left: 0;
				bottom: 0;
				width: 100vw;
				max-width: 100%;
			}
		}

		&__content {
			position: relative;
			padding: rem(16);
		}
	}
}
